
@import "files.less";
@import "patterns.less";

@color1: #342E37;
@color2: #FAFFFD;
@color3: #3C91E6;
@color4: #9FD356;
@color5: #FA824C;

body {
    position: relative;
    background-color: @color1;
    color: @color2;
}

#main-content {

    max-width: 900px;
    margin: auto;

    #header {
        height: 50px;
        padding: 10px;
        font-size: 20px;
    }

    .section {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        background-color: #282828;

        .title {
            cursor: pointer;
            font-size: 24px;
        }

        .section-content {
            padding: 10px;
            .row {
                font-size: 22px;
                margin: 5px 20px;
                .label {
                    display: inline-block;
                    width: 170px;
                }
                .value {
                    display: inline-block;
                    margin-left: 20px;
                    font-size: 21px;
                }
            }
        }

        #files-list {
            border: solid @color2 1px;
            max-height: 250px;
            overflow: hidden;
            overflow-y: scroll;
        }
        #processing-files-message {
            height: 15px;
            font-size: 14px;
        }

        #patterns-list {

            .pattern-row {
                border: solid 2px #686868;
                border-radius: 5px;
                background-color: #383838;
                color: @color2;
                font-size: 20px;
                padding: 5px;
                padding-top: 8px;
                padding-bottom: 4px;
                margin: 10px;
                height: 40px;
                position: relative;


                input {
                    transform: scale(1.7);
                    width: 40px;
                    cursor: pointer;
                }

                .title { 
                    cursor: default;
                    display: inline-block;
                    width: 120px;
                }

                .edit {
                    padding: 7px;
                    display: inline-block;
                    width: 90px;
                    border: solid gray 2px;
                    border-radius: 3px;
                    background-color: #383838;
                    font-size: 16px;
                    color: @color2;
                    margin-right: 13px;
                    cursor: pointer;

                    &:hover {
                        background-color: #282828;
                    }
                }

                .results {
                    padding: 5px;
                    display: inline-block;
                    width: 90px;
                    border-radius: 3px;

                    .processed {
                        background-color: @color4;
                    }
                }

                .delete {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    font-size: 30px;
                    color: #FA824C;
                    cursor: pointer;

                    &:hover {
                        color: red;
                    }
                }

            }
        }
    }

    .modal-container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(160, 160, 160, 0.5);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        .modal {
            border: solid 2px @color1;
            background-color: @color1;
            border-radius: 3px;
            width: 650px;
            min-height: 500px;
            margin: auto;
            margin-top: 140px;

            .section {
                .title {
                    cursor: default;
                    font-size: 30;
                    margin-bottom: 10px;
                }

                #slpParser-new-pattern-direction-selector {
                    font-size: 32px;
                    margin-left: 40px;
                }

                input, select {

                    font-size: 21px;
                    padding: 6px;
                    border: darkgray 2px;
                    border-radius: 3px;
                }

                input {
                    margin-top: 10px;
                    width: 30px;
                }
            }
        }
    
    }
}

#new-archive {
    text-align: center;
    border-radius: 5px;
    display: none;
    margin: 150px;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;

    
    #new-archive-form {
        
        .form-row {
            margin: 15px;
            text-align: left;
        }
        label {
            width: 150px;
            display: inline-block;
            font-size: 20px;
            color: @color2;
        }
        
        input {
            display: inline-block;
            font-size: 20px;
            padding: 5px;
            margin-left: 10px;
        }

        #archive-directory-button {
            width: 82px;
            height: 30px;
            border-radius: 4px;
            font-size: 15px;
            margin-left: 10px;
            &:hover {
                cursor: pointer;
            }
        }

        #new-directory-path {
            height: 25px;
            font-size: 18px;
            color: @color4;
        }

    }
}


.normal-button {
    border: solid 2px #686868;
    border-radius: 5px;
    background-color: #383838;
    color: @color2;
    font-size: 20px;
    padding: 5px;
    width: 250px;
    height: 50px;
    margin: 10px;
    
    &:hover {
        cursor: pointer;
        background-color: #282828;
    }
}

#save-archive-button {
    position: fixed;
    right: 100px;
    top: 10px;
    background-color: @color3;
    color: @color1;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: lightblue;
    }

    &:disabled {
        background-color: gray;
    }

    &.green {
        color: darkgreen;
    }
}

#close-archive-button {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: @color5;
    color: @color1;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
    }
}