<!DOCTYPE html>
<html>
  <div id="combo-body">
    <div id="filters-and-options">
      <div id="filters-container">
        <div class="filters-row">
          <select id="char-1-select">
            <option value="">Any Character</option>
          </select>
          <span>combos</span>
          <select id="char-2-select">
            <option value="">Any Character</option>
          </select>
          <span>on</span>
          <select id="stage-select">
            <option value="">Any Stage</option>
          </select>
        </div>
        <div class="filters-row">
          <div class="filter">
            <div class="label">Min Moves</div>
            <input id="min-moves">
          </div>
          <div class="filter">
            <div class="label">Max Moves</div>
            <input id="max-moves">
          </div>
          <div class="filter">
            <div class="label">Min Damage</div>
            <input id="min-damage">
          </div>
          <!-- <div class="filter">
            <div class="label">Includes</div>
            <input id="includes" value="">
          </div> -->
          <div class="filter">
            <div class="label">End Move</div>
            <select id="end-move" value="">
              <option value="">Any Move</option>
            </select>
          </div>
        </div>
        <div class="filters-row">
          <div class="filter">
            <div class="label">Comboer</div>
            <input class="tag" id="comboer-tag" placeholder="player tag">
          </div>
          <div class="filter">
            <div class="label">Comboee</div>
            <input class="tag" id="comboee-tag" placeholder="player tag">
          </div>
          <div class="filter">
            <div class="label">Kills</div>
            <input id="did-kill" type="checkbox">
          </div>
          <button id="filter-button">Filter</button>
        </div>
      </div>
    </div>
    <div id="video-options-modal-container">
      <div class="options-modal">
        <h1>Video Options</h1>
        <div class="extra-video-option">
          <div class="label">Show HUD</div>
          <input id="show-hud" type="checkbox">
        </div>
        <div class="extra-video-option">
          <div class="label">Game Music</div>
          <input id="game-music" type="checkbox">
        </div>
        <div class="extra-video-option">
          <div class="label">Widescreen</div>
          <input id="widescreen" type="checkbox">
        </div>
        <br>
        <div class="extra-video-option">
          <div class="label">Num CPUs</div>
          <input type="text" id="num-cpus">
        </div>
        <br>
        <div class="extra-video-option">
          <div class="label">SSBM .iso Path</div>
          <button id="iso-path-button">Choose</button>
          <input type="text" id="iso-path" placeholder="/ssbm/iso/path">
        </div>
        <div class="extra-video-option">
          <div class="label">Output Directory</div>
          <button id="output-path-button">Choose</button>
          <input type="text" id="output-path" placeholder="/video/output/directory">
        </div>
      </div>
    </div>
    <div id="overlay-options-modal-container">
        <div class="options-modal">
          <h1>Overlay Options</h1>
          <div class="extra-video-option">
            <div class="label">Player Tags</div>
            <input id="show-player-tags" type="checkbox">
          </div>
          <div class="extra-video-option">
            <div class="label">Tournament</div>
            <input id="show-tournament" type="checkbox">
          </div>
          <div class="extra-video-option">
            <div class="label">Logo</div>
            <input id="show-logo" type="checkbox">
          </div>
          <div class="extra-video-option" id="logo-path-option">
            <div class="label">Logo Path</div>
            <button id="logo-path-button">Choose</button>
            <input type="text" id="logo-path" placeholder="/path/to/logo">
          </div>
          <div class="extra-video-option">
            <div class="label">Date</div>
            <input id="show-date" type="checkbox">
          </div>
          <br>
          <div class="extra-video-option">
            <div class="label">Margin</div>
            <input type="text" id="overlay-margin">
          </div>
          <div class="extra-video-option">
            <div class="label">Logo Opacity</div>
            <input type="text" id="logo-opacity">
          </div>
          <div class="extra-video-option">
            <div class="label">Textbox Opacity</div>
            <input type="text" id="textbox-opacity">
          </div>
          <div class="extra-video-option">
            <div class="label">Font Path</div>
            <button id="font-path-button">Choose</button>
            <input type="text" id="iso-path" placeholder="default font">
          </div>
        </div>
      </div>
    <div id="primary-list-container" class="list-container">
      <div class="info">
        <div class="row">
          <div class="label">Total Combos:</div>
          <div class="data" id="primary-total"></div>
        </div>
        <div class="row">
          <div class="label">Time (seconds):</div>
          <div class="data" id="primary-total-time"></div>
        </div>
      </div>
      <ul class="list"></ul>
      <div class="pagination-container" id="primary-list-pagination-container">
        <div class="pagination-button" id="primary-list-prev">Prev</div>
        <div class="pagination-element" id="primary-list-current-page"></div>
        <div class="pagination-button" id="primary-list-next">Next</div>
      </div>
    </div>
    <div id="secondary-list-container" class="list-container">
      <button id="remove-selected">Remove Selected</button>
      <div id="video-buttons-container">
        <div>
          <div class="video-option">
            <div class="label">Overlay</div>
            <input id="show-overlay" type="checkbox">
          </div>
          <div class="video-option">
            <div class="label">Dev Mode</div>
            <input id="dev-mode" type="checkbox">
          </div>
        </div>
        <div>
          <button id="video-options-button" class="normal-button">Video Options</button>
          <button id="overlay-options-button" class="normal-button">Overlay Options</button>
        </div>
        <button id="generate-video-button" class="normal-button">Generate</button>
      </div>
      <ul class="list"></ul>
    </div>
  </div>
</html>