<!DOCTYPE html>
<html>
  <div id="combo-body">
    <div id="filters-container">
      <div class="filters-row">
        <select id="char-1-select">
          <option value="">Any Character</option>
        </select>
        <span>combos</span>
        <select id="char-2-select">
          <option value="">Any Character</option>
        </select>
        <span>on</span>
        <select id="stage-select">
          <option value="">Any Stage</option>
        </select>
        <button id="filter-button">Filter</button>
      </div>
      <div class="filters-row">
        <div class="filter">
          <div class="label">Min Moves</div>
          <input id="min-moves" value="7">
        </div>
        <div class="filter">
          <div class="label">Min Damage</div>
          <input id="min-damage" value="50">
        </div>
        <!-- <div class="filter">
          <div class="label">Includes</div>
          <input id="includes" value="">
        </div> -->
        <div class="filter">
          <div class="label">Ends With</div>
          <select id="ends-with" value="0">
            <option value="0">Any Move</option>
          </select>
        </div>
        <div class="filter">
          <div class="label">Kills</div>
          <input id="did-kill" type="checkbox">
        </div>
      </div>
    </div>
    <div id="primary-list-container" class="list-container">
      <div class="info">
        <div class="row">
          <div class="label">Total:</div>
          <div class="data" id="primary-total"></div>
        </div>
        <div class="row">
          <div class="label">Time:</div>
          <div class="data" id="primary-total-time"></div>
        </div>
      </div>
      <ul class="list"></ul>
      <div class="pagination-container" id="primary-list-pagination-container">
        <h1>PAGINATION</h1>
        <div class="pagination-button" id="primary-list-prev">Prev</div>
        <div class="pagination-element" id="primary-list-current-page"></div>
        <div class="pagination-button" id="primary-list-next">Next</div>
      </div>
    </div>
    <div id="secondary-list-container" class="list-container">
        <div class="info">
            <div class="row">
              <div class="label">Total:</div>
              <div class="data" id="secondary-total"></div>
            </div>
          </div>
      <ul class="list"></ul>
    </div>
  </div>
</html>