<!DOCTYPE html>
<html>
  <div id="files-body">
    <div id="files-actions-container">
        <button id="add-files-button">Add files</button>
        <button id="test-button">Process</button>
    </div>
    <div class="section">
        <div class="section-title">Data</div>
        <div class="row">
            <div class="label">Total files: </div>
            <div id="total-files" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Processed: </div>
            <div id="files-total-processed" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Valid: </div>
            <div id="files-total-valid" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Saved Patterns: </div>
            <div id="files-total-saved-patterns" class="value"></div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">Meta:</div>
        <div class="row">
            <div class="label">Created: </div>
            <div id="files-created-at" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Last Updated:</div>
            <div id="files-updated-at" class="value"></div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">List</div>
        <div id="files-list"></div>
    </div>
    <br>
    </div>
  </div>
</html>