<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Archiver</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../dist/styles.css">
  </head>
  <body>
    <div id="navbar">
        <h1 id="navbar-title" class="title">Archiver</h1>
        <ul id="tabs">
          <li id="data-tab" value="data" class="tab">Data</li>
          <li id="labeller-tab" value="labeller"class="tab">Labeller</li>
          <li id="combo-tab" value="combo"class="tab">Combo Video Creator</li>
          <li id="uploader-tab" value="uploader"class="tab">Uploader</li>
        </ul>
    </div>
    <div id="main-content">
    </div>
    <div id="process-loading-container">
      <p>Processing files [<span id="current-number-processed">0</span>/<span id="total-unprocessed">999</span>]</p>
    </div>
    <button id="save-button">Save</button>
    <div id="startup" hidden>
      <button class="normal-button" id="new-archive-button">New Archive</button>
      <button class="normal-button" id="existing-archive-button">Open Existing Archive</button>
      <div id="recent-archives"></div>
      <div id="new-archive-form" hidden>
        <div class="form-row">
            <label for="name">Name:</label>
            <input type="text" id="archive-name" name="name" placeholder="my_new_archive">
        </div>
        <div class="form-row">
            <label for="file">Save Location:</label>
            <button id="archive-directory-button">Choose</button>
        </div>
        <div id="new-directory-path"></div>
        <button id="create-archive-button" class="normal-button" type="submit">Create</button>
      </div>
    </div>
  </body>
  <script src="../controllers/index.js"></script>
</html>