<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Archiver</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../dist/views/styles.css">
  </head>
  <body>
    <div id="main-content">
      <div id="header">Project: <span id="archive-title"></span></div>
      <button id="save-archive-button">Save</button>
      <button id="close-archive-button">Close</button>
      <div class="section">
        <div id="files-title" class="title">Files<span class="section-carat">&#9650;</span></div>
        <div hidden id="files" class="section-content">
          <div class="row">
            <div class="label">Total files: </div>
            <div id="total-files" class="value"></div>
          </div>
          <div class="row">
              <div class="label">Processed: </div>
              <div id="files-total-processed" class="value"></div>
          </div>
          <div class="row">
              <div class="label">Valid: </div>
              <div id="files-total-valid" class="value"></div>
          </div>
          <div class="row">
            <div class="label">Created: </div>
            <div id="files-created-at" class="value"></div>
          </div>
          <div class="row">
              <div class="label">Last Updated:</div>
              <div id="files-updated-at" class="value"></div>
          </div>
          <div class="row">
            <button id="add-files-button" class="normal-button">Add files</button>
            <button id="process-files-button" class="normal-button">Process</button>
            <!-- <button id="test-files-button" class="normal-button">Test</button> -->
            <div id="processing-files-message"></div>
          </div>
          <div class="row">
            <div id="files-list"></div>
          </div>
        </div>
      </div>
      <div class="section">
        <div id="gamesettings-title" class="title">Game Settings<span class="section-carat">&#9650;</span></div>
        <div hidden id="gamesettings" class="section-content">
          <div class="row">
            <div class="label">Player 1</div>
            <select id="char-1-select">
              <option value="">Any Character</option>
            </select>
            <input class="tag" id="player1-tag" placeholder="player tag">
          </div>
          <div class="row">
            <div class="label">Player 2 </div>
            <select id="char-2-select">
              <option value="">Any Character</option>
            </select>
            <input class="tag" id="player2-tag" placeholder="player tag">
          </div>
          <div class="row">
            <div class="label">Stage</div>
            <select id="stage-select">
              <option value="">Any Stage</option>
            </select>
          </div>
          <div class="row">
            <button id="reset-gamesettings-button" class="normal-button">Reset</button>
            <button id="apply-gamesettings-button" class="normal-button">Apply</button>
          </div>
          <div class="row">
            <div class="label">Total: </div>
            <div id="total-files-gamesettings" class="value"></div>
          </div>
        </div>
      </div>
      <div class="section">
        <div id="patterns-title" class="title">Patterns<span class="section-carat">&#9650;</span></div>
        <div hidden id="patterns" class="section-content">
          <button id="add-patterns-button" class="normal-button">Add Pattern</button>
          <button id="run-patterns-button" class="normal-button">Run</button>
          <div id="patterns-list"></div>
        </div>
      </div>
      <div class="section">
        <div id="results-title" class="title">Results<span class="section-carat">&#9650;</span></div>
        <div hidden id="results" class="section-content">
          <div>CONTENT</div>
        </div>
      </div>
      <div class="section">
        <div id="video-title" class="title">Video<span class="section-carat">&#9650;</span></div>
        <div hidden id="video" class="section-content">
          <div>CONTENT</div>
        </div>
      </div>
      <!--<div id="filters-and-options">
        <div id="filters-container">
          <div class="filters-row">
            <div class="filter">
              <div class="label">Min Moves</div>
              <input id="min-moves">
            </div>
            <div class="filter">
              <div class="label">Max Moves</div>
              <input id="max-moves">
            </div>
            <div class="filter">
              <div class="label">Min Damage</div>
              <input id="min-damage">
            </div>
            <div class="filter">
              <div class="label">Includes</div>
              <input id="includes" value="">
            </div>
            <div class="filter">
              <div class="label">First Move</div>
              <select id="first-move" value="">
                <option value="">Any Move</option>
              </select>
            </div>
            <div class="filter">
              <div class="label">Second to Last</div>
              <select id="second-to-last-move" value="">
                <option value="">Any Move</option>
              </select>
            </div>
            <div class="filter">
              <div class="label">Test</div>
              <select id="test-move" value="">
                <option value="">Any Move</option>
              </select>
            </div>
            <div class="filter">
              <div class="label">Test</div>
              <input id="test-value">
            </div>
            <div class="filter">
              <div class="label">End Move</div>
              <select id="end-move" value="">
                <option value="">Any Move</option>
              </select>
            </div>
          </div>
          <div class="filters-row">
            <div class="filter">
              <div class="label">Kills</div>
              <input id="did-kill" type="checkbox">
            </div>
            <button id="filter-button">Filter</button>
            <button id="filter-sort-button">Sort</button>
            <button id="filter-reset-button">Reset</button>
          </div>
        </div>
      </div>
      </div>-->
      <div hidden id="video-options-modal-container">
        <div class="options-modal">
          <h1>Video Options</h1>
          <div class="extra-video-option">
            <div class="label">Hide HUD</div>
            <input id="hide-hud" type="checkbox">
          </div>
          <div class="extra-video-option">
            <div class="label">Game Music</div>
            <input id="game-music" type="checkbox">
          </div>
          <div class="extra-video-option">
            <div class="label">Widescreen Off</div>
            <input id="widescreen-off" type="checkbox">
          </div>
          <div class="extra-video-option">
            <div class="label">Last Combo Offset</div>
            <input id="last-combo-offset" type="text">
          </div>
          <br>
          <div class="extra-video-option">
            <div class="label">Num CPUs</div>
            <input type="text" id="num-cpus">
          </div>
          <br>
          <div class="extra-video-option">
            <div class="label">SSBM .iso Path</div>
            <button id="iso-path-button">Choose</button>
            <input type="text" id="iso-path" placeholder="/ssbm/iso/path">
          </div>
          <div class="extra-video-option">
            <div class="label">Output Directory</div>
            <button id="output-path-button">Choose</button>
            <input type="text" id="output-path" placeholder="/video/output/directory">
          </div>
          <button id="video-options-reset-button">Reset</button>
          <button id="video-options-ok-button">OK</button>
        </div>
      </div>
      <div hidden id="overlay-options-modal-container">
          <div class="options-modal">
            <h1>Overlay Options</h1>
            <div class="extra-video-option">
              <div class="label">Player Tags</div>
              <input id="show-player-tags" type="checkbox">
            </div>
            <div class="extra-video-option">
              <div class="label">Tournament</div>
              <input id="show-tournament" type="checkbox">
            </div>
            <div class="extra-video-option">
              <div class="label">Show Round</div>
              <input id="show-round" type="checkbox">
            </div>
            <div class="extra-video-option">
              <div class="label">Logo</div>
              <input id="show-logo" type="checkbox">
            </div>
            <div class="extra-video-option" id="logo-path-option">
              <div class="label">Logo Path</div>
              <button id="logo-path-button">Choose</button>
              <input type="text" id="logo-path" placeholder="/path/to/logo">
            </div>
            <div class="extra-video-option">
              <div class="label">Date</div>
              <input id="show-date" type="checkbox">
            </div>
            <br>
            <div class="extra-video-option">
              <div class="label">Margin</div>
              <input type="text" id="overlay-margin">
            </div>
            <div class="extra-video-option">
              <div class="label">Logo Opacity</div>
              <input type="text" id="logo-opacity">
            </div>
            <div class="extra-video-option">
              <div class="label">Textbox Opacity</div>
              <input type="text" id="textbox-opacity">
            </div>
            <div class="extra-video-option">
              <div class="label">Font Path</div>
              <button id="font-path-button">Choose</button>
              <input type="text" id="font-path" placeholder="default font">
            </div>
            <button id="overlay-options-reset-button">Reset</button>
            <button id="overlay-options-ok-button">OK</button>
          </div>
        </div>
      <!-- <div id="primary-list-container" class="list-container">
        <div class="info">
          <div class="row">
            <div class="label">Results:</div>
            <div class="data" id="primary-total"></div>
          </div>
          <div class="row">
            <div class="data" id="primary-total-time"></div>
          </div>
        </div>
        <ul id="primary-list" class="list"></ul>
        <div class="pagination-container" id="primary-list-pagination-container">
          <div class="pagination-button" id="primary-list-prev">Prev</div>
          <div class="pagination-element" id="primary-list-current-page"></div>
          <div class="pagination-button" id="primary-list-next">Next</div>
        </div>
      </div>
      <div id="secondary-list-container" class="list-container">
        <button id="remove-selected">Remove Selected</button>
        <div id="video-buttons-container">
          <div>
            <div class="video-option">
              <div class="label">Overlay</div>
              <input id="show-overlay" type="checkbox">
            </div>
            <div class="video-option">
              <div class="label">Dev Mode</div>
              <input id="dev-mode" type="checkbox">
            </div>
            <div class="video-option">
              <div class="label">Shuffle</div>
              <input id="shuffle" type="checkbox">
            </div>
            <div class="video-option">
              <div class="label">Slice</div>
              <input id="slice" type="text">
            </div>
          </div>
          <div>
            <button id="video-options-button" class="normal-button">Video Options</button>
            <button id="overlay-options-button" class="normal-button">Overlay Options</button>
            <button id="generate-sources-button" class="normal-button">Sources</button>
            <button id="generate-stats-button" class="normal-button">Stats</button>
          </div>
          <button id="generate-video-button" class="normal-button">Generate</button>
          <div id="generate-warning-message"></div>
        </div>
        <div id="video-generate-message"></div>
        <div id="video-generate-count"></div>
      </div> -->
      <div id="edit-pattern-modal" class="modal-container" hidden>
        <div class="modal">
          <div class="section">
            <div class="section-content">
              <div class="row">
                <div class="label">Type</div>
                <select value="slpParser" id="pattern-method-type-select">
                  <option selected value="slpParser">slp.getCombos</option>
                  <option value="combo">Combo Parser</option>
                  <option value="edgeguard">Edgeguard</option>
                  <option value="single">Single Interaction</option>
                  <option value="custom">Custom</option>
                </select>
              </div>
            </div>
          </div>
          <div id="slpParser-edit-pattern" class="section">
            <div class="section-content">
              <div class="row">
                <div id="slpParser-edit-pattern-direction-selector">Player 1 <span id="slpParser-edit-pattern-combo-direction"><></span> Player 2</div>
              </div>
              <div class="row">
                <div class="label">Min Hits</div>
                <input id="slpParse-edit-pattern-min-hits" placeholder="">
              </div>
              <div class="row">
                <div class="label">Max Hits</div>
                <input id="slpParse-edit-pattern-max-hits" placeholder="">
              </div>
              <div class="row">
                <div class="label">Min Damage</div>
                <input id="slpParse-edit-pattern-min-damage" placeholder="">
              </div>
              <div class="row">
                <div class="label">Max Damage</div>
                <input id="slpParse-edit-pattern-max-damage" placeholder="">
              </div>
            </div>
          </div>
          <div id="combo-edit-pattern" class="section" hidden>
            <div class="section-content">
              <div class="row">
                <div id="slpParser-edit-pattern-direction-selector">Player 1 <span id="slpParser-edit-pattern-combo-direction"><></span> Player 2</div>
              </div>
            </div>
          </div>
          <div id="edgeguard-edit-pattern" class="section" hidden>
            <div class="section-content">
              <div class="row">
                <div id="slpParser-edit-pattern-direction-selector">Player 1 <span id="slpParser-edit-pattern-combo-direction"><></span> Player 2</div>
              </div>
            </div>
          </div>
          <div id="single-edit-pattern" class="section" hidden>
            <div class="section-content">
              <div class="row">
                <div id="slpParser-edit-pattern-direction-selector">Player 1 <span id="slpParser-edit-pattern-combo-direction"><></span> Player 2</div>
              </div>
            </div>
          </div>
          <div id="custom-edit-pattern" class="section" hidden>
            <div class="section-content">
              <div class="row">
                <div id="slpParser-edit-pattern-direction-selector">Player 1 <span id="slpParser-edit-pattern-combo-direction"><></span> Player 2</div>
              </div>
            </div>
          </div>
          <div class="section">
            <div class="section-content">
              <div class="row">
                <button id="edit-pattern-back-button" class="normal-button">Back</button>
                <button id="edit-pattern-save-button" class="normal-button">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="new-archive" hidden>
      <button class="normal-button" id="new-archive-button">New Archive</button>
      <button class="normal-button" id="existing-archive-button">Open Existing Archive</button>
      <div id="recent-archives"></div>
      <div id="new-archive-form" hidden>
        <div class="form-row">
            <label for="name">Name:</label>
            <input type="text" id="archive-name" name="name" placeholder="my_new_archive">
        </div>
        <div class="form-row">
            <label for="file">Save Location:</label>
            <button id="archive-directory-button">Choose</button>
        </div>
        <div id="new-directory-path"></div>
        <button id="back-button" class="normal-button" type="submit">Back</button>
        <button id="create-archive-button" class="normal-button" type="submit">Create</button>
      </div>
    </div>
  </body>
  <script src="../controllers/index.js"></script>
</html>