<!DOCTYPE html>
<html>
  <div id="meta-body">
    <h1 class="title">Meta Data</h1>
    <div class="section">
        <div class="section-title">Slippi</div>
        <div class="row">
            <div class="label">Total .slp files: </div>
            <div id="meta-total-slp-files" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Valid games: </div>
            <div id="meta-total-valid-games" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Labelled games: </div>
            <div id="meta-total-labelled-games" class="value"></div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">Tournament</div>
        <div class="row">
            <div class="label">Tournaments: </div>
            <div id="meta-total-tournaments" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Total Games: </div>
            <div id="meta-total-tournament-games"class="value"></div>
        </div>
        <div class="row">
            <div class="label">SmashGG Sets: </div>
            <div id="meta-total-smashgg-sets" class="value"></div>
        </div>
        <div class="row">
                <div class="label">Linked Sets: </div>
                <div id="meta-total-linked-sets" class="value"></div>
            </div>
        <div class="row">
            <div class="label">Linked Games: </div>
            <div id="meta-total-linked-games"class="value"></div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">File:</div>
        <div class="row">
            <div class="label">Created: </div>
            <div id="meta-created-at" class="value"></div>
        </div>
        <div class="row">
            <div class="label">Last Updated:</div>
            <div id="meta-updated-at" class="value"></div>
        </div>
    </div>
    <br>
    <div class="section">
        <div>More to come...</div>
    </div>
    </div>
  </div>
</html>