
#combo-body {

    color: @color2;


    #filters-container {

        padding: 20px 40px;

        & > select {
            margin: 10px;
            font-size: 20px;
        }
        & > span {
            font-size: 25px;
        }

        button {
            font-size: 25px;
            padding: 4px;
            margin: 0px 20px;
            border-radius: 3px;
            width: 80px;

            &:hover {
                cursor: pointer;
                background-color: lightgray;
            }
        }
    }
    
    .list-container {
        display: inline-block;
        width: 400px;
        border: solid white 1px;
        padding: 5px;
        vertical-align: top;
        margin: 5px 20px;

        .info {
            .row {
                margin: 5px;
                font-size: 20px;
                .label {
                    display: inline-block;
                    width: 65px;
                }
                .data {
                    display: inline-block;
                    width: 20px;
                }
            }
        }

        .list {
            padding-left: 0px;
        }
    }
    #primary-list-container {

    }
    #secondary-list-container {

    }

    .combo {
        margin: 5px;
        padding: 5px;
        border-bottom: 1px solid white;
        .game-info {
            display: inline-block;
            position: relative;
            width: 30%;
            height: auto;
            .characters {
                position: absolute;
                margin: 5px;
                padding-left: 5px;
                top: 10px;
                img {
                    display: inline-block;
                    width: 25px;
                }

                .arrow {
                    width: 20px;
                    margin: 2px;
                }
            }
            .stage {
                width: 100%;
            }
        }

        .combo-info {
            display: inline-block;
            width: 30%;
            vertical-align: top;
            
            .row {
                margin: 5px;

                .label {
                    display: inline-block;
                    width: 65px;
                }
                .data {
                    display: inline-block;
                    width: 20px;
                }
            }
        }

    }
}