
#navbar {
    margin-bottom: 3px;
    color: @color2;
    
    .title {
        text-align: center;
    }

    #tabs {
        margin-bottom: 0px;
        .tab {
            display: inline-block;
            border: solid @color3 1px;
            width: 200px;
            font-size: 20px;
            padding: 5px;
            &:hover {
                cursor: pointer;
                background-color: @color3;
            }
        }

        .active-tab {
            border: solid @color3 3px;
        }
    }

}